.center {
  margin-left: auto;
  margin-right: auto;
	display:block;
}

h1 {
  text-align: center;
	color: #ffffff;
	background-color: #000000;
}

p {
  text-align: center;
	color: #ffffff;
	background-color: #000000;
}
